CUSTOM_IMAGE=ghcr.io/guilhermegms3/stackerp
CUSTOM_TAG=layout-geral
PULL_POLICY=always

DB_PASSWORD=change-me
ERPNEXT_VERSION=v16.14.0
FRAPPE_SITE_NAME_HEADER=erp.stackerp.local
HTTP_PUBLISH_PORT=8080

UPSTREAM_REAL_IP_ADDRESS=127.0.0.1
UPSTREAM_REAL_IP_HEADER=X-Forwarded-For
UPSTREAM_REAL_IP_RECURSIVE=off
PROXY_READ_TIMEOUT=120
CLIENT_MAX_BODY_SIZE=50m
